{% extends 'base.html' %}

{% block page_specific_content %}
    <div class="flex flex-col items-center py-8">
        <h2 class="text-blue-500 text-3xl font-bold">
            {% if division_id == 1 %}刑事一課の事件一覧
            {% elif division_id == 2 %}刑事二課の事件一覧
            {% elif division_id == 3 %}刑事三課の事件一覧
            {% else %}事件一覧
            {% endif %}
        </h2>
        <a href="{% url 'crime_create' division_id=division_id %}" class="inline-block mt-4 px-6 py-3 bg-white rounded-lg text-blue-500 font-medium hover:bg-blue-100 shadow-md">新規登録</a>
    </div>
{% endblock page_specific_content %}

{% block breadcrumb %}
    <nav aria-label='breadcrumb' class="bg-gray-100 p-3 rounded">
        <ol class="list-reset flex">
            <li><a href="{% url 'division_list' %}" class="text-blue-600 hover:text-green-600">トップページ＞</a></li>
        </ol>
    </nav>
{% endblock breadcrumb %}

{% block content %}
    <div class="container mx-auto py-8">
        <ul class="list-none">
            {% for crime in object_list %}
                <li class="border-gray-300 border-dashed border-b last:border-b-0 py-4 px-2">
                    {% if crime.crime_name_second %}
                        <a href="{% url 'crime_detail' crime.id %}" class="inline-block hover:text-green-600">{{ crime.crime_name }}（{{ crime.crime_name_second|default_if_none:'' }}）</a>
                    {% else %}
                        <a href="{% url 'crime_detail' crime.id %}" class="inline-block hover:text-green-600">{{ crime.crime_name }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
