<!-- templates/crime_wizard_form.html -->
{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="max-w-2xl mx-auto p-5">
    {% comment %} <h1 class="text-2xl font-bold mb-6">事件報告ウィザード</h1> {% endcomment %}
    <form method="post">
        {% csrf_token %}
        {{ wizard.management_form }}
{% comment %} 
        <!-- 候補リストの吹き出し -->
        <div id="suggestion-box" class="absolute right-0 top-0 mt-1 mr-1 w-48 bg-white rounded-lg shadow-lg p-3 hidden">
            <ul class="text-sm list-disc pl-5">
                <li class="hover:bg-gray-100 cursor-pointer" onclick="selectCrime('暴行')">暴行</li>
                <li class="hover:bg-gray-100 cursor-pointer" onclick="selectCrime('傷害')">傷害</li>
                <li class="hover:bg-gray-100 cursor-pointer" onclick="selectCrime('器物損壊')">器物損壊</li>
                <li class="hover:bg-gray-100 cursor-pointer" onclick="selectCrime('殺人')">殺人</li>
                <li class="hover:bg-gray-100 cursor-pointer" onclick="selectCrime('強姦')">強姦</li>
            </ul>
        </div> {% endcomment %}

        <!-- フォームフィールド -->
        {% for field in wizard.form %}
        <div class="mb-4">
            <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700">{{ field.label }}</label>
            <div class="mt-1">
                {{ field|add_class:'block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50' }}
                {% if field.help_text %}
                <p class="mt-2 text-sm text-gray-500">{{ field.help_text }}</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}

        <!-- 送信ボタン -->
        <div class="flex justify-end">
            <button type="submit" class="px-4 py-2 bg-blue-600 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-75">
                次へ
            </button>
        </div>
    </form>
</div>


<script>
    // 候補を選択してフォームフィールドに設定
    function selectCrime(crime) {
        document.getElementById('id_crime_name').value = crime;
        document.getElementById('suggestion-box').classList.add('hidden');
    }
    
    // ページ読み込み時に候補リストを表示
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('suggestion-box').classList.remove('hidden');
    });
    </script>
{% endblock %}
