<!-- templates/crime_wizard_form.html -->
{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="max-w-2xl mx-auto p-5">
    {% comment %} <h1 class="text-2xl font-bold mb-6">事件報告ウィザード</h1> {% endcomment %}
    <form method="post">
        {% csrf_token %}
        {{ wizard.management_form }}

        <!-- フォームフィールド -->
        {% for field in wizard.form %}
        <div class="mb-4">
            <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700">{{ field.label }}</label>
            <div class="mt-1">
                {{ field|add_class:'block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50' }}
                {% if field.help_text %}
                <p class="mt-2 text-sm text-gray-500">{{ field.help_text }}</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}

        {% comment %} <!-- カメラ起動ボタン -->
        <button type="button" id="start-camera" class="mb-4 px-4 py-2 bg-green-500 text-white font-semibold rounded-lg shadow-md hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-75">免許証を撮影</button>
        <video id="video" width="640" height="480" autoplay style="display:none;"></video>
        <button id="capture" type="button" class="mb-4 px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-75" style="display:none;">撮影</button>
        <canvas id="canvas" style="display:none;"></canvas>

        <!-- 免許証の写真選択ボタン -->
        <div class="mb-4">
            <input type="file" id="license-photo-input" accept="image/*" class="hidden" onchange="uploadLicenseImage(this)">
            <label for="license-photo-input" class="mb-4 px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-75 cursor-pointer">免許証写真を選択</label>
        </div> {% endcomment %}

        <!-- 送信ボタン -->
        <div class="flex justify-end">
            <button type="submit" class="px-4 py-2 bg-blue-600 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-75">
                登録
            </button>
        </div>

    </form>
</div>


<script>
    const startCameraButton = document.getElementById('start-camera');
    const video = document.getElementById('video');
    const captureButton = document.getElementById('capture');
    const canvas = document.getElementById('canvas');
    const context = canvas.getContext('2d');
    let stream = null;

    startCameraButton.onclick = function () {
        startCameraButton.style.display = 'none';
        video.style.display = 'block';
        captureButton.style.display = 'block';
        navigator.mediaDevices.getUserMedia({ video: { width: 640, height: 480 } })
            .then(function (mediaStream) {
                stream = mediaStream;
                video.srcObject = mediaStream;
            })
            .catch(function (error) {
                console.error("Cannot access camera: ", error);
                alert('カメラにアクセスできません。');
            });
    };

    captureButton.onclick = function () {
        context.drawImage(video, 0, 0, canvas.width, canvas.height);
        const image_data_url = canvas.toDataURL('image/png');
        video.style.display = 'none';
        captureButton.style.display = 'none';
    
        // サーバーに画像データを送信し、OCR処理を行う
        fetch('/api/ocr', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({ image: image_data_url })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            } else {
                return response.json();
            }
        })
        .then(data => {
            // フォームにデータを入力
            document.querySelector('#id_suspect_name').value = data.name;
            document.querySelector('#id_suspect_address').value = data.address;
            document.querySelector('#id_suspect_birthday').value = data.birthday;
        })
        .catch(error => {
            console.error('Error during OCR processing: ', error);
            alert('OCR処理中にエラーが発生しました: ' + error.message);
        });
    };





    function uploadLicenseImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                var imageSrc = e.target.result;
                processImage(imageSrc);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    function processImage(imageSrc) {
        // ここでGoogle Vision APIにリクエストを送る
        fetch('/api/upload-image', {
            method: 'POST',
            body: JSON.stringify({ image: imageSrc }),
            headers: { 'Content-Type': 'application/json' }
        })
        .then(response => response.json())
        .then(data => {
            // フォームフィールドにデータをセットする
            document.getElementById('id_suspect_address').value = data.address;
            document.getElementById('id_suspect_name').value = data.name;
            document.getElementById('id_suspect_birthday').value = data.birthday;
        })
        .catch(error => console.error('Error during OCR processing:', error));
    }
    
</script>
{% endblock %}
