{% extends 'base.html' %}
{% load japanese_era %}
{% load custom_filters %}


{% block content %}
    <div class="container m-auto p-4">
        <div class="detail border-2 rounded border-green-700 py-3 px-2">
            <h2 class="text-lg">{{ object.crime_name }}（{{ object.crime_name_second|default_if_none:'' }}）</h2>
            <p><span class="text-sm">発生日時：</span>{{ object.crime_start_date|to_japanese_era  }} {{ object.crime_start_time|to_japanese_time }}ころから{{ object.crime_end_date|to_japanese_era  }} {{ object.crime_end_time|to_japanese_time }}ころまでの間</p>
            <p><span class="text-sm">発生場所：</span>{{ object.crime_place|default_if_none:'' }}</p>
            <h4><span clas="text-sm">概要:</span></h4>
            <p class="ml-12 mb-5">{{ object.crime_fact|default_if_none:'' }}</p>
            <p></p>
            <h3><被疑者人定事項></h3>
            <p><span class="text-sm">本籍：</span>{{ object.suspect_honseki|default_if_none:'' }}</p>
            <p><span class="text-sm">住居：</span>{{ object.suspect_address|default_if_none:'' }}</p>
            <p><span class="text-sm">職業：</span>{{ object.suspect_job|default_if_none:'' }}</p>
            <p><span class="text-sm">氏名：</span>{{ object.suspect_name|default_if_none:'' }}</p>
            <p><span class="text-sm">生年月日：</span>{{ object.suspect_birthday|to_japanese_era  }}</p>
        </div>
    

        <div class="flex items-center justify-between mb-8">
            <button class="hover:text-green-400 text-white border-2 border-green-600 rounded py-1 px-5 text-lg mt-5 bg-gray-700"><a href="{% url 'crime_update' pk=crime.id %}">編集</a></button>


            <form action="{% url 'crime_delete' pk=crime.id %}" method="post" onsubmit="return confirm('本当に削除しますか？');">
                {% csrf_token %}
                <input type="submit" value="削除" class="text-lg border-2 border-red-600 rounded  hover:text-red-500 bg-gray-700 text-white py-1 px-5 mt-5">
            </form>
        </div>

        
        {% comment %} <button class="text-white rounded hover:opacity-70 bg-slate-500 py-2 px-5"><a href="{% url 'generate_report' object.id %}">人着の報告書作成</a></button> {% endcomment %}

        <form method="post" enctype="multipart/form-data" action="{% url 'generate_report' pk=crime.pk %}">
            {% csrf_token %}
            <label for="docxFile">報告書のテンプレートを選択してください:　</label>
            <input type="file" id="docxFile" name="docxFile" accept=".docx">
            <button type="submit" class="bg-red-400 hover:bg-red-500 rounded text-white py-2 px-5">報告書生成</button>
        </form>
    </div>
{% endblock content %}
